<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringProd" value="server=mysqlserver;port=3306;database=master;user=root;password=secret" />
    <add key="ConnectionStringDebug" value="server=192.168.1.200;port=33060;database=master;user=root;password=secret" />
	<!--<add key="ConnectionString" value="server=localhost;port=33061;database=master;user=root;password=secret" />-->
	<add key="SecretAuthKey" value="Buenasss. Soy una clave secreta, a lo 007 pero molando más" />
    <add key="SecretMySqlPasswDecodeKey" value="hbeg=ndtE-yCJ9+W" />
  </appSettings>
</configuration>