<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=mysqlserver;port=3306;database=master;user=root;password=secret" />
    <!--<add key="ConnectionString" value="server=192.168.1.200;port=33060;database=master;user=root;password=secret" />-->
  </appSettings>
</configuration>